name = "nomad_{{ server_name }}"

# Directory to store agent state
data_dir = "/etc/nomad.d/data"

# Address the Nomad agent should bing to for networking
# 0.0.0.0 is the default and results in using the default private network interface
# Any configurations under the addresses parameter will take precedence over this value
bind_addr = "0.0.0.0"

advertise {
  # Defaults to the first private IP address.
  http = "{{ ansible_host }}"
  rpc  = "{{ ansible_host }}"
  serf = "{{ ansible_host }}"
}

ports {
  http = 4646
  rpc  = 4647
  serf = 4648
}

# TLS configurations
tls {
  http = false
  rpc  = false

  # ca_file   = "/etc/certs/ca.crt"
  # cert_file = "/etc/certs/nomad.crt"
  # key_file  = "/etc/certs/nomad.key"
}

# Specify the datacenter the agent is a member of
datacenter = "p52"

# Logging Configurations
log_level = "INFO"
log_file  = "/etc/nomad.d/nomad.log"

# Server & Raft configuration
server {
  enabled          = true
  bootstrap_expect = 1
  encrypt = "{{ gossip_secret }}"
}

# Client Configuration - Node can be Server & Client
client {
  enabled = true
  options = {
    "driver.raw_exec.enable" = "1"
  }
  reserved {
    cpu            = 20000
    memory         = 6000
    disk           = 20000
    reserved_ports = "22,80,8500-8600"
  }
}
